{% extends "index.html"%}
{% block body %}

<table id="mainTable" class="table table-bordered">
   <thead>
      <tr>
         <th style ="font-size:30px;border: 5px solid black;" scope="col">#</th>
         <th style ="font-size:30px" scope="col">Word</th>
      </tr>
   </thead>
   <tbody class = "unselectable" style="border: 3px solid black;">
      <tr>
         <th class = "unselectable" scope="row" style ="font-size:30px;border: 5px solid black;">1</th>
         <td id = "1"></td>
      </tr>
      <tr>
         <th class = "unselectable" scope="row" style ="font-size:30px;border: 5px solid black;">2</th>
         <td id = "2"></td>
      </tr>
      <tr>
         <th class = "unselectable" scope="row" style ="font-size:30px;border: 5px solid black;">3</th>
         <td id = "3"></td>
      </tr>
      <tr>
         <th class = "unselectable" scope="row" style ="font-size:30px;border: 5px solid black;">4</th>
         <td id = "4"></td>
      </tr>
      <tr>
         <th class = "unselectable" scope="row" style ="font-size:30px;border: 5px solid black;">5</th>
         <td id = "5"></td>
      </tr>
   </tbody>
</table>
{% endblock %}
