{% extends "googFinisher.html" %}
{% block table %}
<table id="mainTable"style="border: 3px solid black;" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Word</th>
    </tr>
  </thead>
  <tbody style="border: 3px solid black;"">
    <tr>
      <th scope="row" style ="font-size:30px">1</th>
      <td style ="font-size:30px;color: #e9ecef" id = "1">Mark</td>
    </tr>
    <tr>
      <th scope="row" style ="font-size:30px">2</th>
      <td style ="font-size:30px" id = "2">Mark</td>
    </tr>
    <tr>
      <th scope="row" style ="font-size:30px">3</th>
      <td style ="font-size:30px" id = "3">Mark</td>
    </tr>
        <tr>
      <th scope="row" style ="font-size:30px">4</th>
      <td style ="font-size:30px" id = "4">Mark</td>
    </tr>
        <tr>
      <th scope="row" style ="font-size:30px">5</th>
      <td style ="font-size:30px" id = "5">Mark</td>
    </tr>
  </tbody>
</table>
{% endblock %}